* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header , .upper-menu {
    background-color: #24252A;

}

/* .header , .upper-menu {
    #24252A
} */
.header li,.header a ,.header button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: azure;
}
.upper-menu li,.upper-menu a ,.upper-menu button {
     font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: azure;
}
.upper-menu {
    display: flex;
    align-items: center;
    padding : 20px 5%;
}
.skull {
    height: auto;
    width: 100px;
   
    margin-right: auto;
}
#login-btn {
    background-color: #900C3F;
}
.upper-menu button {
    background-color: inherit;
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #0080a9;
    border-radius: 10px;
    margin :0px 10px;
    
}
.upper-menu button:hover {
    background-color: #0080a9;
}
.search {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px; 
    border : 1px solid azure ;
    box-shadow:0 0 15px 4px #2E4053;
    color: aliceblue;
    background-color:#24252A;
}
.search-icon {
    background-color: inherit;
    height :auto;
    width : 40px;
    color: antiquewhite;
    margin-left : 10px;
}
.search-icon:hover {
    color: aliceblue;
}
.header {
   
    margin: 10px 10px;
    display: flex;
    padding : 20px 5%;
    border : 3px solid azure !important;
}
.logo {
    cursor: pointer;
    margin-right:auto;
    color: white;
    font-weight: 600;
    font-size:20px
}
.nav-links li{
    display: inline-block;
    padding : 0px 3em;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #0080a9;
}
.cta {
    padding: 9px 25px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.cta:hover {
    background-color: #0080a9;
}


/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: azure;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: inherit;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        width: 100%;
        z-index: 1;
    }
    .menu a {
        width: 100%;
        display: block;
    }

        .menu li:hover {
            display:block;
            background-color: #4c9e9e;
            transition: 0.3s ease;
        }

        .menu li + li {
            margin-top: 12px;
        }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: inline;
    }
    .upper-menu  a {
        display: none;
    }

}

